/AnswerRequest.class
/Message.class
/MessageType$1.class
/MessageType$2.class
/MessageType$3.class
/MessageType$4.class
/MessageType$5.class
/MessageType.class
/NewRequest.class
/RenegotiateRequest.class
/SatisfiedRequest.class
/StatusRequest.class
