/CommunicationBehaviour.class
/GenerateRequestsBehaviour.class
/NegociateBehaviour.class
/SelfishBehaviour.class
/TakeActionBehaviour.class
/BuildingCommunicationBehaviour.class
/ElevatorCommunicationBehaviour.class
